@font-face {
    font-family: roboto;
    src: url(./Roboto-Regular.ttf);
  }
*{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
body{
    font-size: 20px;
}
#wrapper{
      min-height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #wrapper input{
      font-size: 20px;
  }
  #wrapper i{
      width: 21px;
  }
  #form-register{
      max-width: 700px;
      background: black;
      float: right;
      flex-grow: 1;
      padding: 30px 30px 40px;
      box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
  }
  .form-heading{
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      text-align: center;
      margin-bottom: 30px;
  }
  .form-group{
      border-bottom: 1px solid white;
      margin-top: 15px;
      margin-bottom: 20px;
      display: flex;
  }
  .form-group i{
      color: white;
      font-size: 20px;
      padding-top: 5px;
      padding-right: 10px;
  }
  .form-input{
      background: transparent;
      border: 0;
      outline: 0;
      color: white;
      flex-grow: 1;
  }
  .form-input::placeholder{
      color: white;
  }
  
  .form-submit{
      background: transparent;
      border: 1px solid white;
      color: white;
      width: 100%;
      text-transform: uppercase;
      padding: 6px 10px;
      transition: 0.25s ease-in-out;
      margin-top: 30px;
  }
  .form-register{
      background: transparent;
      border: 1px solid white;
      color: white;
      width: 100%;
      text-transform: uppercase;
      padding: 6px 10px;
      transition: 0.25s ease-in-out;
      margin-top: 5px;
  }
  .form-register:hover{
      border: 1px solid blue;
  }
