html{
    scroll-behavior: smooth;
    
}

body {
    font-size: 16px;
    background-color: #FFF6F4;
}

/* .row{
    margin-left: -8px;
    margin-right: -8px;
} */

.mt-16{
    margin-top: 16px !important;
}

.pull-right{
    float: right !important;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 32px;
    padding-right: 32px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.33333%;
}

.col-four{
    width: 25%;
}

.col-twothird {
    width: 66.66666%;
}

#about-body p{
    text-indent: 48px;
    text-align: justify;
}

#about-body p+p{
    padding-top: 8px;
}

#about-body h2 {
    color: #E42024;
    margin-bottom: 48px;
    text-align: center;
    text-shadow: 0 0 1px #000;
}

#about-body h3 {
    color: #E42024;
    opacity: 0.8;
    margin-bottom: 24px;
    text-align: center;
}

#about-body {
    width: 1100px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.4;
    letter-spacing: 1px;
    word-spacing: 1.5px;
}

.bg {
    background: url("https://53.fs1.hubspotusercontent-na1.net/hubfs/53/assets/hubspot.com/about_2019/blobs/Blop-Gray@2x.png") no-repeat top center;
}

#about-body .about-content {
    margin-top: 64px;
}

.about-img {
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about-img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.value-item + .value-item {
    margin-top: 32px;
}

.about-history {
    margin-bottom: 32px;
}

@font-face {
    font-display: swap;
    font-family: 'LexendDeca';
    src: url("//cdn2.hubspot.net/hubfs/53/tools/fonts/LexendDeca-SemiBold.woff2") format("woff2")
  }

@media (max-width: 46.1875em){

    #about-body .about-content{
        margin-top: 48px;
    }

    #about-body .about-content h2 {
        margin-bottom: 24px;
    }

    #about-body .about-content h3 {
        margin-bottom: 16px;
    }

    .s-col-full{
        width: 100%;
    }
    
    .s-full-width{
        width: 100% !important;
    }

    .history-body {
        margin-bottom: 32px;
    }
}

@media (max-width:63.9375em) {
}