#blog {
    padding: 10px 150px 0 150px;
}
#blog .blog-list-ul {
    margin-right: -10px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
#blog ul{
    list-style-type: disc;
}
#blog .blog-list-ul.col2-by-mon > li {
    width: calc(100%/3);
    transition: width 0.3s ease;
}
#blog .blog-list-ul > li {
    float: left;
    padding: 20px;
    min-height: 1px;
    display: block;
}
#blog .blog-card {
    background-color: white;
    height: 100%;
    border-radius: 2%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
#blog .blog-card .img img {
    display: block;
    width: 100%;
    min-height: 200px;
    max-height: 200px;
}
#blog img {
    max-width: 100%;
    max-height: 250px;
    overflow: hidden;
    aspect-ratio: auto 800 / 500;
    border-radius: 2%;
}
#blog .blog-card .info{
    padding: 10px;
}
#blog .blog-card .info .meta {
    font-size: 12px;
    color: #898989;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 3px;
}

#blog p {
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#blog a {
    text-decoration: none;
    color:black;
}
#blog a:hover {
    color:#088178 ;
}
#blog h4.title-blog a {
    font-size: 16px;
    line-height: 1.4;
}
#pagination {
    margin: 20px 0;
    text-align: center;
}
#pagination button {
    text-decoration: none;
    padding: 15px 20px;
    background-color: black;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    transition: 0.1S ease;
    width: 10px;
}
#pagination button i {
    width: 1em;
}
#pagination button:hover {
    padding: 15px 30px;
}

@media (max-width: 1024px) {
    #blog {
        padding: 10px 50px 0 50px;
    }
}
@media (max-width: 600px) {
    #blog .blog-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    #blog .img {
        margin: 0 0;
    }
    #blog .info {
        width: 100%;
    }
    #blog .blog-list-ul.col2-by-mon > li {
        width: 90%;
        margin: 0 auto;
    }
    #blog .blog-list-ul > li {
        padding: 10px 0;
        min-height: 1px;
        display: block;
    }
    #blog {
        padding: 20px 20px;
    }
}