html{
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    /* background-color: #FFF6F4 ; */
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.mt-16{
    margin-top: 16px !important;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 32px;
    padding-right: 32px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

#contact-body {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 64px;
    margin-bottom: 48px;
}

#contact-body .info-location {
    padding-top: 16px;
    padding-left: 16px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

#contact-body .info-location i{
    width: 30px;
    display: inline-block;
    margin-bottom: 16px;
}

#contact-body .info-location p {
    margin-bottom: 16px;
}

#contact-body .contact-map {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-bottom: 32px;
}

#contact-body h2 {
    margin-top: 32px;
    margin-bottom: 16px;
}

.form-control {
    height: 32px;
    padding-left: 8px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
}

textarea {
    padding: 8px 0;
    height: 64px !important;
    resize: none;
}

.btn-contact {
    color: #fff;
    background-color:#E42024;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    margin: 8px auto;
    border-radius: 16px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: fit-content;
}

.contact-form {
    margin-bottom: 48px;
}

#offer {
    padding: 32px 64px;
    margin-left: 0;
    margin-right: 0;
}

#offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('../images/contact/signup.png');
    background-position: 20% 30%;
    background-color:#333333;
}

#offer .text {
    display: block;
    max-width: 700px;
}

#offer h4 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
#offer p {
    font-size: 20px;
    font-weight: 500;
    color: #ccc;
}
#offer p span{
    color: #ffbd27;
}

#offer input {
    height: 3.125rem;
    width: 100%;
    padding: 0 1.25rem;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#offer .btn-offer {
    color: #fff;
    background-color: #E42024;
    height: 3.125rem;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 600px;
    white-space: nowrap;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: auto;
}
#offer .btn-offer:hover , .btn-contact:hover{
    cursor: pointer;
    opacity: 0.8;
}

#offer .form{
    display: flex;
    width: 40%;
}

@media (max-width: 46.1875em){

    .s-col-full{
        width: 100%;
    }
    
    .s-full-width{
        width: 100% !important;
    }

    .contact-body {
        margin-bottom: 32px;
    }

    .contact-form {
        margin-bottom: 32px !important;
    }

    #offer {
        padding: 20px;
    }

    #offer .text {
        margin-bottom: 16px;
    }

    #offer h4 {
        font-size: 24px;
        font-weight: 700;
    }

    #offer p {
        font-size: 16px;
        font-weight: 500;
    }

    #offer .form {
        width: 100%;
    }

}

@media (max-width:63.9375em) {

    #offer .text {
        margin-bottom: 16px;
    }

    #offer .form {
        width: 100%;
    }
}