.detailPage{
    display: flex;
    padding: 0 50px;
    margin: 30px 0;
    width:100%;
}
.infoProduct{
    padding: 0 50px;
}
.imageProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:400px;
    margin-left:50px;

}
table {
    border-collapse: collapse;
    width:auto;
    table-layout: auto;
  }
th,td{
    text-align: left;
    font-size: 18px;
    padding:5px 5px;
}
td::before{
    content: ':';
}
th{
    width:120px;
    padding:5px;
}
td{
    width:300px;
}
li{
    width:auto;
}
.mini-image{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 5px;
    width:400px;
}
.mini-image img:hover{
  opacity: 0.7;
}
.mini-image img{
    display:inline-block;
    width: 95px;
    border-radius:unset;
    box-shadow: 0px 2px 5px rgb(156, 156, 156);
  }
.slide-image img{
  width: 400px;
  height:400px;
}
.slide-image{
    width: 400px;
    height:400px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgb(156, 156, 156);
}
.wrap-slide{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 400px;
    height:500px;
    transition: transform 1s ease;
}
.fa-minus,.fa-plus{
    width:25px;
    font-size: 16px;
    padding:5px;
    background-color: rgb(216, 216, 216);
    
}
.fa-minus:hover,.fa-plus:hover{
    opacity: 0.8;
}
.fa-minus{
    margin-left: 10px;
}
.countProduct{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    line-height: 100%;
    margin-top: 10px;
}
.productName{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.productPrice{
    color:rgb(0, 0, 0);
    font-size: 18px;
    margin:10px 0;
}
.productPrice .old_price{
    font-size: 18px !important;
    width:auto;
    display: inline-block;
    text-decoration: line-through;
}
.productPrice .new_price{
    font-size: 18px !important;
    width:auto;
    display: inline-block;
    color:rgb(232, 50, 0)
}
.addIntoCart.detail_page{
    padding:10px 10px !important;
}
.number{
    font-size: 20px;
    width:25px;
    margin:0 5px;
    text-align: center;
}
.description{
    font-size: 20px;
    opacity: 0.7;
}
.buyNow{
    width:170px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    border:none;
    padding:10px 10px;
    box-shadow: 2px 2px 4px rgb(192, 192, 194);
    margin:10px 0;
    background-color: rgb(0, 128, 255);
}
button.buyNow:hover{
    opacity: 0.7;
}
li{
    list-style-type: none;
    margin:5px 0;
}
ul{
    padding:0;
}
.fa-circle-check{
    width:20px;
    background-color: rgb(1, 219, 16);
    border-radius: 50%;
    font-size: 20px;
    border-radius: none;
    border: none;
    box-shadow: 2px 2px 5px rgb(137, 134, 134);
}
.amount_product{
    width:35px;
    height:25px;
    border:1px solid rgb(0, 0, 0);
    margin:0 5px;
    text-align: center;
    line-height: 25px;
}
.addIntoCart.detail_page{
    width:170px;
}
@media (max-width:1100px) {
    .detailPage{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:0;
        margin:30px 0;
    }
    .productName{
        margin-top:20px;
    }
}
.perfume_brand{
    font-size: 16px;
}
@media (max-width:550px) {
    .nextPage,.prevPage{
        display: none!important;
    }
}
    @media(max-width:450px){
  .slide-image,.mini-image,img.perfume_image_detail{
    width:350px;
    height:350px;
  }
  .mini-image img{
    width:80px;
    height:80px;
  }
  .imageProduct{
    width:350px;
    margin:0;
  }
  .mini-image{
    height:auto
  }
  .infoProduct{
    padding:10px;
  }
}