@font-face {
  font-family: roboto;
  src: url(/fonts/Roboto-Regular.ttf);
}
*{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
body{
    display: block;
    background-color: rgba(249, 239, 226, 0.862);
}
/* ----------------navbar------------  */
#header{
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 4px 20px;
}
#header a{
  color: white;
}
#header > a{
  width: 50%;
  font-size: 30px;
  text-decoration: none;
}
#header i{
  color: white;
}
.menu-list{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
}
.menu-list li{
  display:block;
  list-style-type: none;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: 170px;
}
.menu-list li a{
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  padding: 0;
}
.menu-list li:nth-last-child(-n+2){
  width: 40px;
}
.menu-list li a:hover,
.menu-list li a.active {
  border-bottom: 2px solid white;
}
#xmark{
  display: none;
}
#cart{
  position: relative;
}
#cart-amount{
  position: absolute;
  background-color: red;
  color: white;
  width: 10px;
  height: 15px;
  line-height: 15px;
  padding: auto;
  border-radius: 25px;
  top: -5px;
  right: 0;
}
#cart-icon .cart-amount {
  position: absolute;
  background-color: red;
  color: white;
  width: 10px;
  height: 15px;
  line-height: 15px;
  border-radius: 25px;
  top: -5px;
  padding: 0 0.05em;
  right: 0;
}
.mobile{
  height: 50px;
}

/* --------------section-banner---------------- */
.slide-banner{
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden; 
  text-align: center;
  top: 1px;
}
.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
  transition: all .3s ease;
  &:hover {
    background: black;
  }
}
.banner{
  width: 100%;
  height: 550px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^="banner"]:checked + .banner {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}
.banner img{
  /* width: 100%; */
  height: 550px;
}

/* -----------------section-body---------------- */
#body{
  max-width: 1100px;
  margin: 0 auto;
}
.favorite{
  width: 100%;
  padding: 25px 0;
  text-align: center;
}
.favorite p:first-child{
  font-size: 25px;
}
.favorite p:last-child{
  font-size: 15px;
  padding-top: 5px;
}
.list-fav {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* height: 650px; */
}

.list-fav > div {
  flex: 0 1 24%;
  margin-bottom: 10px;
  text-align: center;
  max-height: 350px;
}

.list-fav img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover; 
}

.list-fav p {
  margin-top: 10px;
}
  /* sản phẩm mới */
.new-product{
  width: 100%;
  padding: 25px 0;
  text-align: center;
}
.new-product p:first-child{
  font-size: 25px;
}
.new-product p:nth-child(2){
  font-size: 15px;
  padding-top: 5px;
}
.new-product button{
  width: 10%;
  height: 25px;
  font-size: 14px;
  background-color: black;
  text-align: center;
  margin-top: 5px;
}
.new-product a{
  text-decoration: none;
  color: white;
}
#body .product{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
#body .prev,button.next {
  height:40px;
  width:40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius:50%;
  border:none;
  box-shadow: 2px 2px 5px rgb(129, 129, 129);
}
#body .addIntoCart{
  background-color:#2ea44f; ;
  color:rgb(255, 255, 255);
  font-size: 16px;
  border:none;
  padding:0 10px;
  box-shadow: 2px 2px 4px rgb(192, 192, 194);
  margin: 10px auto;
  display: block;
  width: 100%;
  height: 20px;
} 
#body button.addIntoCart:hover{
 opacity: 0.7;
}
#body .perfume{
  display: flex;
  flex: 0 1 18%;
 position:relative;
 background-color:rgb(255, 255, 255);
 justify-content: center;
 flex-direction: column;
 box-shadow: 2px 2px 3px rgb(182, 181, 181);
 margin:15px 5px 0 5px;
 transition: transform 0.5s ease;
 cursor: pointer;
}
#body .perfume:hover{
  box-shadow: 2px 2px 7px rgb(182, 181, 181);
}
#body .wrap_image{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
#body .wrap_image:hover .perfume_image{
  transform: scale(1.4);
}
#body .wrap_image:hover::after{
  content: '';
  display: block;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.1);
}
#body .perfume_image{
  width: 100%;
  height: auto;
  position: relative;
  transition: transform 0.5s;
  overflow: hidden;
}
#body .perfume_name{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-top: 5px;
  font-size: 14px;
  overflow:hidden;
  height:32px;
  text-transform: uppercase;
  padding:0 0 3px 0;
  text-align: center;
}
#body .perfume_brand{
  font-style: italic;
  text-align: center;
  margin: 10px 0;
}
#body .perfume_price{
  font-weight: bold;
  color:rgb(241, 47, 47);
  text-align: center;
  height:20px;
}
#body .old_price{
  text-decoration: line-through;
  color:rgb(97, 97, 97);
  font-weight: unset;
  line-height: 20px;
}
#body .old_price p{
  display: inline-block;
    margin:0;
    margin-left: 30%;
    padding: 0;
    color:rgb(255, 98, 0);
    font-size: 12px;
}
#body .detailProduct{
  position: absolute;
  width:100px;
  height:40px;
  display: none;
  border-radius: 10px;
  padding: auto;
  z-index: 2;
  border: none;
  box-shadow: 2px 2px 2px rgb(98, 98, 98);
  background-color: rgb(255, 255, 255);
}
#body .detailProduct:hover{
  color:white;
  background-color: rgb(237, 88, 14);
}
#body .wrap_image:hover .detailProduct{
  display: block;
} 

  /* lợi ích */
.advantage{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.advantage > div {
  flex: 0 1 24%;
  margin-bottom: 1px;
  text-align: center;
  height: 200px;
  padding: 65px 0;
}

.advantage p{
  font-size: 25px;
  padding-bottom: 5px;
  border-right: 1px solid black;
}
.advantage i{
  font-size: 30px;
  color: black;
  border-right: 1px solid black;
}
.advantage > div:last-child p,
.advantage > div:last-child i {
  border-right: none;
}

/* -------------footer----------------- */
.footer {
  display: flex;
  flex-wrap: wrap;
  color: white;
  background-color: black;
  border-top: 1px solid #e5e5e5; 
  /* max-width: 1100px; */
  margin: 0 auto;
  }
  
  .footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  max-width: max-content;
  background-color: #088178;
  border-radius: 4px;
  color: #fff;
  line-height: 0;
  margin: 10px 0;
  font-size: 15px;
  padding: 10px 20px;
  text-decoration: none;
  } 
  .footer-nav{
    padding: 20px;
    margin: 0;
  }
  .footer-nav> * {
  flex: 1 1 25%; 
  margin-right: 20px; 
  }
  
  
  .nav-item h2{
    font-size: 20px;
    padding: 10px 10px 10px 0;
  }
  .nav-item li,
  .nav-item p{
    padding: 5px 0;
  }
  
  .footer-nav .nav-item .row {
  display: flex;
  flex-direction: column;
  }
  .footer-nav .nav-item {
  flex: 1; 
  margin-top:-20px;
  margin-right:0;
  }
  .nav-ul {
  list-style: none;
  padding: 0;
  }
  
  .nav-ul li {
  padding-bottom: 10px;
  }
  
  .footer-nav li  {
  list-style: none;
  text-decoration: none ;
  font-size: 15px;
  }
  
  
  .thanks-addr,
  .footer-nav {
  flex: 1;
  }
  .footer-thanks p{
  font-size: 15px;
  padding: 10px 0;
  }
  .footer-thanks h1{
  font-weight: bolder;
  font-size: 25px;
  padding: 10px 0 0 0;
  }
  .thanks-addr {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  }
  
  .footer-nav {
  display: flex;
  flex-wrap: wrap;
  }
  .nav-item {
  flex: 1;
  padding-bottom: 20px;
  }
  p{
  font-size: 15px;
  }
  
  .footer-addr h2{
    font-size: 20px;
    padding-bottom: 2%
  }
  address{
    font-style: normal;
    font-size: 15px;
  }
  .legal p{
  font-size: 15px;
  }
  .footer-nav a{
  text-decoration: none;
  color: white;
  font-size: 13x;
  }
  .nav-item .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  }
  .nav-item .row img {
  border: 1px solid #088178;
  border-radius: 6px;
  width: 146px;
  }

/* điều chỉnh giao diện tablet */
@media (max-width:1200px){
  #header > a{
    font-size: 25px;
  }
  .menu-list li a{
    font-size: 15px;
  }
  .favorite p:first-child{
    font-size: 20px;
  }
  .favorite p:last-child{
    font-size: 13px;
  }
  .new-product p:first-child{
    font-size: 20px;
  }
  .new-product p:nth-child(2){
    font-size: 13px;
  }
  .advantage p{
    font-size: 18px;
  }
  .advantage i{
    font-size: 25px;
  }
}
/* Điều chỉnh giao diện header khi màn hình nhỏ hơn 780px */
@media (max-width: 780px) {
  #header{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  .mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .mobile .icons{
    display: flex;
  }
  .mobile .icons #xmark{
    display: none;
  }
  #cart-icon{
    position: relative;
  }
  
  .mobile div{
    text-align: right;
  }
  #cart-icon a{
    margin-right: 7px;
  }
 
  #header > a {
    font-size: 20px;
    display: block;
    margin-bottom: 10px; 
  }
  #xmark{
    display: none;
    position: absolute;
    width: 20px;
    top: 30;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
  }
  #bar.active ~ #xmark,
  .menu-list.active #xmark{
    display: initial;
  }
  .menu-list li{
    display: none;
    width: 100%;
  }
  .menu-list.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    width: 200px;
    right: 0;
    z-index: 1;
  }
  .menu-list.active li:nth-child(n+1):nth-child(-n+5){
    position: relative;
    display: block;
    width: 200px;
    text-align: right;
    top: 0;
    right: 0;
    background-color: black;
    border: 1px solid white;
  }
  .menu-list li:nth-last-child(-n+2){
    display: none;
  }
  .menu-list.active li:nth-child(n+1):nth-child(-n+5) {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid #ccc; 
    margin: 0;
  }
  /* Thêm style cho từng mục trong dropdown menu */
  .menu-list.active li:nth-child(n+1):nth-child(-n+5) a {
    text-decoration: none;
    &:hover {
      font-size: 17px;
      color: #fff;
    }
  }

  #bar.active ~ .menu-list li:nth-child(n+1):nth-child(-n+5) {
    display: flex;
  }
  /* CSS cho biểu tượng thanh bar */
  #bar {
    cursor: pointer;
  } 
}
  /* Điều chỉnh giao diện banner khi màn hình nhỏ hơn 780px */
@media (max-width: 780px) {
  .slide-banner {
    height: 250px;
  }
  
  .menu label {
    width: 10px;
    height: 10px;
    margin: 0 .1em 1em;
  }
  
  .banner img {
    height: 250px;
  }
}

/* Điều chỉnh body khi màn hình nhỏ hơn 780px */
@media (max-width: 780px){
  .favorite{
    padding: 15px 0;
  }
  .favorite p:first-child{
    font-size: 18px;
  }
  .favorite p:last-child{
    font-size: 10px;
    padding-top: 2px;
  }
  .list-fav p {
    margin-top: 5px;
    font-size: 12px;
  }
    /* sản phẩm mới */
  .new-product{
    padding: 25px 0;
  }
  .new-product p:first-child{
    font-size: 18px;
  }
  .new-product p:nth-child(2){
    font-size: 10px;
    padding-top: 2px;
  }
  .new-product button{
    width: 10%;
    height: 15px;
    font-size: 8px;
  }
  button.prev,button.next {
    height:30px;
    width:30px;
  }
  button.addIntoCart{
    font-size: 8px;
    width: 100px;
  } 
   button.addIntoCart:hover{
   opacity: 0.7;
  }
  .perfume:hover{
    box-shadow: 2px 2px 7px rgb(182, 181, 181);
  }
  .wrap_image:hover::after{
    content: '';
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.1);
  }
   .perfume_image{
    width:50px;
    height:70px;
  } 
  .perfume_name{
    margin-top: 2px;
    font-size: 8px;
    height:20px;
    text-transform: uppercase;
    padding:0 0 3px 0;
    text-align: center;
  }
  .perfume_brand{
    margin: 5px 0;
    font-size: 8px; 
  }
  .perfume_price{
    height:12px;
    font-size: 10px ;
  }
  .old_price{
    line-height: 12px;
    font-size: 10px;
  }
  .old_price p{
    font-size: 10px;
    margin-left: 40px;
  }
  .detailProduct{
    width:100px;
    height:30px;
  }
  .perfume {
    flex: 0 1 calc(25% - 5px);
  }
  /* lợi ích */
  .advantage > div{
    height: 100px;
  }
  .advantage p {
    font-size: 15px;
    padding-bottom: 5px;
  }
  
  .advantage i {
    font-size: 20px;
  }
}
 /* Điều chỉnh giao diện footer khi màn hình nhỏ hơn 780px */
@media (max-width: 780px) {
  .footer {
    padding: 5px;
    padding-left: 10px;
    display:flex;
    flex-direction: column;
  }
  
  .footer-nav,.thanks-addr {
    flex: 1;
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .footer-btn {
    font-size: 10px;
    padding: 4px 12px;
  }
  .footer-thanks p{
    font-size: 15px;
    padding: 0;
  }
  
  
  .footer-nav {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
  }


  .nav-item .row img{
    width: 120%;
  }
  .nav-item .row{
    width: 20%;
    align-items: flex-start;
  }
  .nav-item a img{
    width:35%
  }
  
  .footer-thanks h2{
    padding: 10px 0;
  }
  .footer-addr h2, .nav-item h2{
    margin: 0;
    font-size: 15px;
  }
  .nav-item
  .footer-nav p{
    font-size: 14px;
  }
  .footer-nav .nav-item:nth-child(3){
    padding: 0;
  }
  .footer-nav a{
    font-size: 14px;
  }
  .footer-nav i{
    flex-direction: row;
    width: 20px;
    height: 15px;
    padding: 10px 25px 15px 0px;
  }
  .footer-nav{
    padding:0;
  }
  .footer h2{
    font-size: 18px;
    padding: 5px 0;
  }
  .footer h1{
    font-size: 20px;
  }
  }
/* Ẩn .mobile và #bar khi màn hình lớn hơn 768px */
@media (min-width: 781px) {
  .mobile {
    display: none;
  }
}
