@font-face {
  font-family: roboto;
  src: url(/fonts/Roboto-Regular.ttf);
}
*{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
body{
    font-size: 20px;
    background-color: rgb(249, 239, 226);
}
.welcome{
    width: 100%;
    height: 80px;
    text-align: center;
    margin-top: 20px;
}
.welcome p:first-child{
    font-size: 30px;
    padding-bottom: 5px;
}
.welcome p:last-child{
    font-size: 18px;
}
#wrapper{
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#wrapper input{
    font-size: 15px;
}
#wrapper i{
    width: 21px;
}
#form-login{
    max-width: 500px;
    background: black;
    float: right;
    flex-grow: 1;
    padding: 25px 25px 35px;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
}
.form-heading{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}
.form-group{
    border-bottom: 1px solid white;
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
}
.form-group i{
    color: white;
    font-size: 15px;
    padding-top: 5px;
    padding-right: 10px;
}
.form-input{
    background: transparent;
    border: 0;
    outline: 0;
    color: white;
    flex-grow: 1;
}
.form-input::placeholder{
    color: white;
}

.form-submit{
    background: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
}
.form-register{
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 5px;
}
.form-submit:hover{
    border: 1px solid blue;
}
.form-register:hover{
    border: 1px solid blue;
}


  