@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}
*{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
body{
    font-size: 20px;
    background-color: rgb(249, 239, 226);
}
.user-container {
    height: 64vh;
    display: flex;
    align-items: center;
}
.user-page{
    display: flex;
    max-width: 700px;
    margin: 20px auto;
    padding: 5px;
    height: 350px;
}
.user-option{
    flex: 0 1 40%;
    margin: auto 0;
}
.list-option a{
    text-decoration: none;
    color: black;
}
.list-option li{
    padding-left: 10px
}
.list-option a:hover{
    text-decoration: underline;
    color: brown;
}

.profile{
    display: inline-block;
    padding:0 40px 40px 0;
    text-align: center;  
}
.profile img{
    width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1;
    object-fit: cover; 
    border-radius: 50%;
}
#pro-user{
    font-size: 20px;
}
#pro-wrapper{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper i{
    width: 21px;
}
#user-form{
    max-width: 700px;
    background: rgba(249, 239, 226, 0.862);
    float: right;
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
    font-size: 18px;
}
.form-heading{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin-top: 0;
}
.form-group{
    position: relative;
    border-bottom: 1px solid black;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
  }
.form-group i{
    color: black;
    font-size: 18px;
    padding-top: 5px;
    padding-right: 10px;
    width: 23px;
  }
.form-input{
    background: transparent;
    border: 0;
    outline: 0;
    color: black;
    flex-grow: 1;
}
.form-input::placeholder{
    color: black;
    font-size: 15px;
}
.user-form{
    background: transparent;
    border: 1px solid black;
    color: black;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 5px;
    border-radius: 25px;
}
.bt-update{
    text-align: center;
}
.user-form:hover{
    border: 1px solid white;
}
.wrapper{
    max-width: fit-content;
}
#change-wrapper{
    max-width: 700px;
    background: rgba(249, 239, 226, 0.862);
    float: right;
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
    font-size: 18px;
}
#change-wrapper i{
    font-size: 18px;
    width: 23px;
}
#change-wrapper .form-input::placeholder{
    font-size: 15px;
}

@media (max-width:768px){
    .user-page{
        display: flex;
        flex-direction: column;
        max-width: fit-content
    }
    .user-page #pro-wrapper{
        text-align: center;
    }
    .user-option{
        display: flex;
        flex-direction: column;
    }
    .list-option ul{
        display: flex;
        flex-direction: row;
    }
    .list-option ul li{
        margin: 0;
        display: inline-block;
        max-width: fit-content;
    }
    .list-option a{
        text-decoration: none;
        color: black;
        font-size: 13px;
        text-align: center;
        justify-content: center;
    }
    .list-option a:hover{
        text-decoration: underline;
    }
    .profile{
        display: flex;
        flex-direction: row;
        text-align: center; 
        padding: 0; 
    }
    .profile img{
        width: 50px;
        height: 50px;
        aspect-ratio: 1 / 1;
        object-fit: cover; 
        border-radius: 50%;
    }
    #pro-user{
        max-width: fit-content;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        padding:15px 0 0 35px
    }
   
    #pro-wrapper{
        max-height: fit-content;
        max-width: fit-content;
        justify-content: center;
        align-items: center;
    }
    #wrapper i{
        width: 21px;
    }
    #user-form{
        max-width: 300px;
        max-height: 200x;
        background: rgba(249, 239, 226, 0.862);
        flex-grow: 1;
        padding-bottom: 0;;
        /* padding: 30px 30px 40px; */
        box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
        font-size: 18px;
    }
    #user-form h1{
        font-size: 25px;
    }
    .form-heading{
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        text-align: center;
        margin-top: 0;
    }
    .form-group{
        position: relative;
        border-bottom: 1px solid black;
        /* margin-top: 10px; */
        /* margin-bottom: 20px; */
        display: flex;
      }
    .form-group i{
        color: black;
        font-size: 15px;
        /* padding-top: 5px;
        padding-right: 10px; */
        width: 20px;
      }
    .form-input{
        background: transparent;
        border: 0;
        outline: 0;
        color: black;
        flex-grow: 1;
    }
    .form-input::placeholder{
        color: black;
        font-size: 15px;
    }
    .user-form{
        background: transparent;
        border: 1px solid black;
        color: black;
        width: 100%;
        text-transform: uppercase;
        padding: 5px 30px;
        transition: 0.25s ease-in-out;
        border-radius: 5px;
    }
    .bt-update{
        text-align: center;
    }
    .user-form:hover{
        border: 1px solid white;
    }
    .wrapper{
        max-width: fit-content;
    }
    #change-wrapper{
        max-width: 700px;
        max-height: 700px;
        background: rgba(249, 239, 226, 0.862);
        float: right;
        flex-grow: 1;
        padding: 30px 30px 40px;
        box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
        font-size: 18px;
    }
    #change-wrapper i{
        font-size: 18px;
        width: 23px;
    }
    #change-wrapper .form-input::placeholder{
        font-size: 15px;
    }
}



