<footer class="footer ">
    <div class="thanks-addr">
        <div class="footer-thanks">
        <h1>FragraneceEleven</h1>
            <p>Cảm ơn bạn vì đã lựa chọn FragraneceEleven. 
            Theo dõi chúng tôi trên các trang mạng xã hội để luôn được cập nhật về những bộ sưu tập mới nhất.</p>
        </div>
        <div class="footer-addr">
            <h2>Liên hệ</h2>     
              <address>
                Thành phố Thủ Đức, Tp.HCM<br>
                <a class="footer-btn" href="../pages/contact.html">Liên hệ qua Email</a>
              </address>
        </div>
    </div>
    <ul class="footer-nav">
            <li class="nav-item">
                <h2 class="nav-title">Về chúng tôi</h2>
                <ul class="nav-ul">
                  <li><a href="#">Giới thiệu</a></li>
                  <li><a href="#">Thông tin vận chuyển</a></li>   
                  <li><a href="#">Điều khoản và chính sách</a></li>
                </ul>
            </li>    
            <li class="nav-item">
                <h2 class="nav-title">Tài khoản của tôi</h2>
                <ul class="nav-ul">
                  <li><a href="#">Đăng nhập</a></li>
                  <li><a href="#">Xem giỏ hàng</a></li>
                  <li><a href="#">Danh sách mong muốn</a></li>
                  <li><a href="#">Theo dõi đơn hàng</a></li>
                  <li><a href="#">Trợ giúp</a></li>
                </ul>                   
            </li>       
            <li class="nav-item">
                <h2 class="nav-title">Cài đặt ứng dụng</h2> 
                <div class="row">
                    <p>App Store </p>
                    <a href="#"><img src="../assets/images/app.jpg" alt="Dowload on the App Store"></a>
                    <p> Google Play</p>
                    <a href="#"><img src="../assets/images/play.jpg" alt="DowLoad on the Google Play"></a>
                </div>
                <p>Phương thức thanh toán</p>
                <a href="#"><img src="../assets/images/pay.png" alt="Các loại phương thức thanh toán"></a>                    
            </li>         
    </ul> 
    <br>             
    <div class="legal">
              <p>© 2023 Something. All rights reserved.</p>
    </div>
</footer>
</body>
</html>